<ol class="breadcrumb">
	<li><a href="#/databases">Databases</a></li>
	<li><a href="#/database/{{database}}/collections">{{database}}</a></li>
	<li class="active">{{collection}}</li>
</ol>

<h2>Documents</h2>

<table class="table table-hover">
	<tr>
		<th>Document</th>
	</tr>
	<tr ng-repeat="document in documents">
		<td ng-class="highlightDocument($index)" ng-click="selectDocument($index)">
			<div class="document" ng-class="expandDocument($index)" ng-bind-html="prettyPrintDocument(document)"></div>
		</td>
	</tr>
</table>